div#map{

	width:1300px;
	z-index: 3;

	svg{
		
		path.country{

			fill:#7B7B7B;
			transition-duration: .3s;

			&:hover {
				fill: $color-sec;
				transition-duration: .3s;
			}

			&.active {
				fill: $color-sec;
			}
		}
	}
}