body{
  background-color: $background-color;
  font-family: $font-main;
  overflow: hidden;
  color: white;

  
	span.underline{
		display: block;
		background-color: $color-sec;
		width:500px;
		height: 1.5px;
	}


}

